// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)



/**
  * Wrapper
*/
/* When adding media query needs to be in order it seems, when I put larger breakpoints below smaller ones it stops early */
.grid {
  width: calc(100vw - #{$spacing-unit});
  padding-right: calc(#{$spacing-unit} / 2);
  padding-left: calc(#{$spacing-unit} / 2);    
  display: grid;
  margin-top: calc(#{$spacing-unit} * 3);
  transition: 500ms ease-in-out;
  text-align: center;
  grid-template-rows: 1fr 99fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    'header main'
    'footer main';
}

/* For ultrawide screens */
@media screen and (min-width: 2000px) {
  .grid {
    grid-template-columns: 3fr 7fr;
  }
}

/* For small screens */
@media screen and (max-width: 800px) {
  .grid {
    max-width: calc(800px - #{$spacing-unit});
    padding-right: 15px;
    padding-left: 15px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'main'
      'footer';
    margin-top: #{$spacing-unit};
    row-gap: #{$spacing-unit};
  }
}

.post-card {
  background-color: $background-color;
  border-radius: #{$spacing-unit};
  margin: #{$spacing-unit} auto;
  padding: calc(#{$spacing-unit} / 4) calc(#{$spacing-unit} / 2) ;
  transition: 5ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (max-width: 800px) {
  .post-card {
    max-width: 650px;
  }
}

/**
  * Navigation 
*/
/* Sets content to center over breakpoint */
header {
  grid-area: header;
  position: sticky;
  top: 0;
  padding: $spacing-unit 0;
  background: $background-color;
}

h1 {
  letter-spacing: -1px;
}



.header-footer {
  position: relative;
  width: fit-content;
  padding: #{$spacing-unit} calc(#{$spacing-unit} / 4);
  margin-top: Calc(#{$spacing-unit} * 5);
  margin-right: 10px;
  margin-left: auto;
  background: #{$table-zebra-color};
  border-radius: #{$spacing-unit};
  text-align: right;
  grid-area: left;
}
@media screen and (max-width: 800px) {
  .header-footer {
    margin: auto;
    text-align: center;
  }
  .nav-links {
    margin: auto auto 15px auto;

  }
}

.nav-links li {
  list-style: none;
}

/* makes navigation list into a span on mobile to take less vertical space */
@media screen and (max-width: 800px) {
  .nav-links li {
    display: inline;
  }  
}

.profile-picture {
  position: absolute;
  display: block;
  inset: calc(#{$spacing-unit} / 2);
  width: calc(100% - #{$spacing-unit});
  aspect-ratio: 1;
  z-index: -1;
  margin: 0 auto auto auto;
  border-radius: #{$spacing-unit} #{$spacing-unit} 0 0;
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.header-footer:hover , 
.header-footer:focus-within {
  .profile-picture {
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 800px) {
  .profile-picture {
    height: calc(100% - #{$spacing-unit});
    width: auto;
    margin: auto auto auto 0;
    border-radius: #{$spacing-unit} 0 0 #{$spacing-unit};
  }
  .header-footer:hover , 
  .header-footer:focus {
    .profile-picture {
      transform: translateX(-100%);
    }
  }
}


/**
 * Page content
*/
/* To stop text reflowing when width changes these breakpoints kick in causing staggered sizes and less reflowing of lines */
.content {
  max-width: 800px;
  margin-right: 10px;
}

@media screen and (max-width: 1150px) {
  .content {
    max-width: 675px;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    max-width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .content {
    max-width: 700px;
    margin: auto;
  }
}
@media screen and (max-width: 750px) {
  .content {
    max-width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .content {
    max-width: 400px;
  }
}

/* Pushes content to center when over breakpoint */
.main {
  grid-area: main;
  margin: 0 #{$spacing-unit};
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  .main {
    margin: auto;
  }
 }

/**
 * Posts
*/
.posts {
  margin: auto;
}
@media screen and (max-width: 800px) {
  .posts {
    margin: auto;
  }
}

.posts li {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.post-card {
  background-color: $table-zebra-color;
  border-radius: #{$spacing-unit};
  margin: #{$spacing-unit} auto;
  padding: calc(#{$spacing-unit} / 4) calc(#{$spacing-unit} / 2) ;
  
}
