<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="grid">
      <header>
        <div class="header-footer">
          {%- include header.html -%}
        </div>
      </header>
      <main class="main" aria-label="main content">
        {{ content }}
      </main>
      <footer>
        <div class="header-footer">
          <img class="profile-picture" alt="profile picture" src="https://avatars.githubusercontent.com/u/907203?v=4">
        </div>
      </footer>
    </div>
  </body>
</html>