---
layout: base
---

<div class="page">
  
  
  {% if site.paginate %}
  {% assign posts = paginator.posts %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}
  
  <div class="content">
    {{ content }}
    {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="posts">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li class="post-card">
        <span class="">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    
    {%- endif -%}
  </div>

</div>